<hr>
<div class="o-row tx-sm">
  <div class="o-col-6@sm">
    <p>
      Made by <a href="https://jonquach.com/" target="_blank">Q</a> for <a href="https://www.helpscout.net/" target="_blank">Help Scout</a>
    </p>
  </div>
  <div class="o-col-6@sm tx-right@sm">
    <p>
      Inspired by <a href="http://cssstats.com/" target="_blank">CSS Stats</a>
    </p>
  </div>
</div>
