<div class="u-mrg-t-6">
  <div class="o-flexy">
    <div class="o-flexy__item">
      <h1 class="tx-h4 tx-700 u-mrg-0"><a href="/">Scout</a></h1>
    </div>
    <div class="o-flexy__item u-mrg-l-3 u-mrg-r-auto">
      <div class="u-op-3">
        CSS Auditing Tool
      </div>
    </div>
    <div class="o-flexy__item">
      <a href="https://github.com/helpscout/seed-scout" target="_blank"><strong>Github</strong></a>
    </div>
  </div>
</div>
<hr>
