<div class="u-mrg-t-6">
  <div class="o-flexy">
    <div class="o-flexy__item">
      <h1 class="tx-h4 tx-700 u-mrg-0"><a href="/">Scout CSS</a></h1>
    </div>
    <div class="o-flexy__item">
      <a href="https://github.com/helpscout/seed-scout">Github</a>
    </div>
  </div>
</div>
<hr>
