<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scout | CSS Auditing</title>
    <link rel="stylesheet" href="/css/seed-framework.min.css">
    <style>.collapse{display:none}.collapse.show{display:block}tr.collapse.show{display:table-row}tbody.collapse.show{display:table-row-group}.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;-o-transition:height .35s ease;transition:height .35s ease}</style>
  </head>
  <body>
    <div class="o-container">
      <div class="o-row">
        <div class="o-col-10@md o-col-offset-1@md">
          {{{body}}}
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
