<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scout | CSS Auditing</title>
    <link rel="stylesheet" href="/css/seed-framework.min.css">
    <style>.collapse{display:none}.collapse.show{display:block}tr.collapse.show{display:table-row}tbody.collapse.show{display:table-row-group}.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;-o-transition:height .35s ease;transition:height .35s ease}</style>
  </head>
  <body class="tx-smooth">
    <div class="o-container u-pad-b-10">
      <div class="o-row">
        <div class="o-col-10@md o-col-offset-1@md">
          {{{body}}}
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/list.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-96462191-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
