{{> nav }}
<div class="u-pad-v-10 u-mrg-v-10 o-row">
  <div class="o-col-8@md o-col-offset-2@md">
    <div class="u-mrg-b-5">
      <form class="" action="/parse" enctype="multipart/form-data" method="post" novalidate>
        <p class="u-op-3 tx-h3 tx-300">
          Add a URL or a .css link
        </p>
        <div class="o-control-group u-mrg-b-2">
          <input class="c-input c-input--lg o-control-group__block u-pad-h-5"
            type="url"
            name="url"
            value="{{ url }}"
            placeholder="Example: https://www.helpscout.net/"
            pattern="[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
            autofocus>
          <button class="c-button c-button--lg c-button--primary" type="submit">Audit</button>
        </div>
      </form>
    </div>
    <hr>
    <h4 class="tx-700">See Results For:</h4>
    <ul class="c-list">
      <li>
        <a href="/results?link=https%3A%2F%2Fdhmmnd775wlnp.cloudfront.net%2F5502bd08f9%2Fcss%2Fstyles.css&title=HS%20App">HS App</a>
      </li>
      <li>
        <a href="/results?url=https%3A%2F%2Fwww.helpscout.net&title=HS%20Marketing">HS Marketing</a>
      </li>
    </ul>

  </div>
</div>
{{> footer }}
